[data-testid=metric-container]{
    box-shadow: 0 0 4px #EFE6D0;
    padding: 10px;   
}
.plot_container>div{
    box-shadow:0 0 4px #000000;
    padding:10px;
}
div[data-testid="stExpander"]div[role="button"]p{
    font-size:1.3rem;
    color:blue;
}